header {
   align-item: flex-start;
}

nav.menu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333
}

nav.menu ul li {
   display: inline;
   float: left;
}

nav.menu ul li.right {
   float:right;
}

nav.menu ul li a {
   display: block;
   padding: 8px;
   background-color: #333;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

nav.menu ul > li a:hover {
   background-color: #111;
}

nav.menu ul li .active {
   backround-color: #4CAF50;
}

